/*
.centrado {
    text-align: center;
}

.negrita {
    font-weight: bold;
}
*/

body{
    background-color: rgba(8, 7, 7, 0.877);
}

/* 
HEADER 
*/

header{
    display: flex;
    justify-content: center;
    margin: 5px;
}

/* 
BARRA DEL NAVEGADOR 
*/

nav{
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-radius: 15px;
}

/* logo */

#elden {
    color: goldenrod;
    font-size: 35px;
}

#logo{
    display: flex;
    align-items: center;
}

#logo > img {
    height: 100%;
}

/* enlaces */

#navegador{
    display: flex;
    align-items: center;
}

#navegador > div{
    display: flex;
    align-items: center;
    color: goldenrod; 
    font-size: 20px;
    height: 100%;
}

#navegador > div:hover{
    background-color: black;
    
}

#navegador > div > a {
    margin: 10px;
    text-decoration: none;  
}

a:link {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }


/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    height: 75px;
    margin-top: 25px;
}




#cabeceraDeTabla {
    text-align: center;
    color: wheat;

}

table {
    width: 80%;
}

table, th, td {
    border: 1px solid rgba(218, 165, 32, 0.589);
    border-collapse: collapse;
    padding: 5px;
    background-color: rgba(10, 44, 49, 0.712) ;
}

td > img {
    width: 125px;
}

ul > li {
    list-style-type:square
}

#tableContainer{
    display: flex;
    justify-content: center;
    color: wheat;
}