body {
    color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
      

#imgContainer {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 15px;
}

p {
    font-size: 20px;
}

.textContainer {
    text-align: center;
}